In [1]:
import sqlite3
import pandas as pd
from pandas.core.frame import DataFrame
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
pd.options.mode.chained_assignment = None

from matplotlib import pyplot as plt
from time import sleep

import matplotlib


# import gnuplotlib as gp
import numpy as np

import sys

In [2]:
pd.set_option('display.max_colwidth', None)

In [3]:
import requests

In [4]:
def get_df(f_path: str = "/home/kefei/.volttron/agents/"
                       "ba3caba2-2e44-49a3-a771-eaccf6b7bc3e/sqlhistorianagent-4.0.0/data/platform.historian.sqlite"
           ) -> pd.DataFrame:
    # f_path = "/home/kefei/.volttron/agents/85736715-3354-4b70-94d7-eb2ca6e88e48/sqlhistorianagent-4.0.0/data/platform.historian.sqlite"
    con = sqlite3.connect(f_path)

    # df = pd.read_sql_query("SELECT name FROM sqlite_schema WHERE type ='table' AND name NOT LIKE 'sqlite_%'", con)
    # df.head()

    df_data = pd.read_sql_query(sql="select * from data", con=con)
    # df_data

    df_topics = pd.read_sql_query(sql="select * from topics", con=con)
    # df_topics
    con.commit()  # to make sure refresh

    df_join = pd.merge(df_data, df_topics, on='topic_id')
    # df_join.head()

    return df_join

In [5]:
df = get_df()
df.tail()

,ts,topic_id,value_string,topic_name,metadata
47967,2022-05-18T18:54:55.021005+00:00,88,9,campus/building/user-fake/SampleLong1,"{""units"": ""1"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
47968,2022-05-18T18:55:00.021489+00:00,88,9,campus/building/user-fake/SampleLong1,"{""units"": ""1"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
47969,2022-05-18T18:55:05.021920+00:00,88,12,campus/building/user-fake/SampleLong1,"{""units"": ""1"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
47970,2022-05-18T18:55:10.020829+00:00,88,6,campus/building/user-fake/SampleLong1,"{""units"": ""1"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
47971,2022-05-18T18:55:15.020967+00:00,88,9,campus/building/user-fake/SampleLong1,"{""units"": ""1"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"

In [6]:
# inspect here
df = get_df()
df.sort_values('ts', ascending=False).head(8)

,ts,topic_id,value_string,topic_name,metadata
47893,2022-05-18T18:55:17.761135+00:00,83,28016.3766,campus/building/restapi/bitcoin_eur,"{""units"": ""eur"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
47825,2022-05-18T18:55:17.761135+00:00,81,29127.7457,campus/building/restapi/bitcoin_usd,"{""units"": ""usd"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
47859,2022-05-18T18:55:17.761135+00:00,82,23803.8929,campus/building/restapi/bitcoin_gbp,"{""units"": ""gbp"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
47927,2022-05-18T18:55:17.761135+00:00,84,false,campus/building/restapi/random_bool,"{""units"": ""1"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
47971,2022-05-18T18:55:15.020967+00:00,88,9,campus/building/user-fake/SampleLong1,"{""units"": ""1"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
47960,2022-05-18T18:55:15.020967+00:00,87,241.25926609094483,campus/building/user-fake/OutsideAirTemperature1,"{""units"": ""F"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
47938,2022-05-18T18:55:15.020967+00:00,85,false,campus/building/user-fake/Heartbeat,"{""units"": ""1"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
47949,2022-05-18T18:55:15.020967+00:00,86,1.0,campus/building/user-fake/EKG,"{""units"": ""degree"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"

In [7]:
df.sort_values('ts', ascending=False)[df.topic_id==74]

/tmp/ipykernel_5270/2667106004.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df.sort_values('ts', ascending=False)[df.topic_id==74]

,ts,topic_id,value_string,topic_name,metadata
43383,2022-05-15T19:41:48.474325+00:00,74,"""{'activity': 'Donate to your local food bank', 'type': 'charity', 'participants': 1, 'price': 0.5, 'link': '', 'key': '4150284', 'accessibility': 0.8}""",campus/building/restapi/Catfact,"{""units"": ""No cat fact"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
43382,2022-05-15T19:41:43.621061+00:00,74,"""{'activity': 'Catch up on world news', 'type': 'recreational', 'participants': 1, 'price': 0.05, 'link': '', 'key': '6596257', 'accessibility': 0.07}""",campus/building/restapi/Catfact,"{""units"": ""No cat fact"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
43381,2022-05-15T19:41:38.470222+00:00,74,"""{'activity': 'Go stargazing', 'type': 'relaxation', 'participants': 1, 'price': 0, 'link': '', 'key': '8832605', 'accessibility': 0.1}""",campus/building/restapi/Catfact,"{""units"": ""No cat fact"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
43380,2022-05-15T19:41:33.478992+00:00,74,"""{'activity': 'Start a family tree', 'type': 'social', 'participants': 1, 'price': 0, 'link': 'https://en.wikipedia.org/wiki/Family_tree', 'key': '6825484', 'accessibility': 1}""",campus/building/restapi/Catfact,"{""units"": ""No cat fact"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
43379,2022-05-15T19:41:28.453468+00:00,74,"""{'activity': 'Donate blood at a local blood center', 'type': 'charity', 'participants': 1, 'price': 0, 'link': 'https://www.redcross.org/give-blood', 'key': '6509779', 'accessibility': 0.35}""",campus/building/restapi/Catfact,"{""units"": ""No cat fact"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
...,...,...,...,...,...
43176,2022-05-14T19:03:03.439562+00:00,74,"""Two members of the cat family are distinct from all others: the clouded leopard and the cheetah. The clouded leopard does not roar like other big cats, nor does it groom or rest like small cats. The cheetah is unique because it is a running cat; all others are leaping cats. They are leaping cats because they slowly stalk their prey and then leap on it.""",campus/building/restapi/Catfact,"{""units"": ""No cat fact"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
43175,2022-05-14T19:02:58.438984+00:00,74,"""Researchers believe the word \u201ctabby\u201d comes from Attabiyah, a neighborhood in Baghdad, Iraq. Tabbies got their name because their striped coats resembled the famous wavy patterns in the silk produced in this city.""",campus/building/restapi/Catfact,"{""units"": ""No cat fact"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
43174,2022-05-14T19:02:53.465537+00:00,74,"""Cats can predict earthquakes. We humans are not 100% sure how they do it. There are several different theories.""",campus/building/restapi/Catfact,"{""units"": ""No cat fact"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
43173,2022-05-14T19:02:48.462299+00:00,74,"""A cat has approximately 60 to 80 million olfactory cells (a human has between 5 and 20 million).""",campus/building/restapi/Catfact,"{""units"": ""No cat fact"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
43172,2022-05-14T19:02:43.499025+00:00,74,"""Cats that live together sometimes rub each others heads to show that they have no intention of fighting. Young cats do this more often, especially when they are excited.""",campus/building/restapi/Catfact,"{""units"": ""No cat fact"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"

In [8]:
df.sort_values('ts', ascending=False)[df.topic_id==73]

/tmp/ipykernel_5270/3160910235.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df.sort_values('ts', ascending=False)[df.topic_id==73]

,ts,topic_id,value_string,topic_name,metadata
43171,2022-05-15T19:41:48.474325+00:00,73,true,campus/building/restapi/Heartbeat,"{""units"": ""On/Off"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
43170,2022-05-15T19:41:43.621061+00:00,73,true,campus/building/restapi/Heartbeat,"{""units"": ""On/Off"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
43169,2022-05-15T19:41:38.470222+00:00,73,true,campus/building/restapi/Heartbeat,"{""units"": ""On/Off"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
43168,2022-05-15T19:41:33.478992+00:00,73,false,campus/building/restapi/Heartbeat,"{""units"": ""On/Off"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
43167,2022-05-15T19:41:28.453468+00:00,73,false,campus/building/restapi/Heartbeat,"{""units"": ""On/Off"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
...,...,...,...,...,...
42964,2022-05-14T19:03:03.439562+00:00,73,true,campus/building/restapi/Heartbeat,"{""units"": ""On/Off"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
42963,2022-05-14T19:02:58.438984+00:00,73,true,campus/building/restapi/Heartbeat,"{""units"": ""On/Off"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
42962,2022-05-14T19:02:53.465537+00:00,73,true,campus/building/restapi/Heartbeat,"{""units"": ""On/Off"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
42961,2022-05-14T19:02:48.462299+00:00,73,true,campus/building/restapi/Heartbeat,"{""units"": ""On/Off"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
42960,2022-05-14T19:02:43.499025+00:00,73,true,campus/building/restapi/Heartbeat,"{""units"": ""On/Off"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"

In [9]:
df[df.topic_id==74].metadata.values[0]

'{"units": "No cat fact", "type": "integer", "tz": "US/Pacific"}'

In [10]:
df.metadata.unique()

array(['{"units": "F", "type": "integer", "tz": "US/Pacific"}',
       '{"units": "Enumeration", "type": "integer", "tz": "US/Pacific"}',
       '{"units": "On / Off", "type": "integer", "tz": "US/Pacific"}',
       '{"units": "On/Off", "type": "integer", "tz": "US/Pacific"}',
       '{"units": "waveform", "type": "integer", "tz": "US/Pacific"}',
       '{"units": "PPM", "type": "integer", "tz": "US/Pacific"}',
       '{"units": "%", "type": "integer", "tz": "US/Pacific"}',
       '{"units": "1/0", "type": "integer", "tz": "US/Pacific"}',
       '{"units": "1-0", "type": "integer", "tz": "US/Pacific"}',
       '{"units": "No cat fact", "type": "integer", "tz": "US/Pacific"}',
       '{"units": "usd", "type": "integer", "tz": "US/Pacific"}',
       '{"units": "gbp", "type": "integer", "tz": "US/Pacific"}',
       '{"units": "eur", "type": "integer", "tz": "US/Pacific"}',
       '{"units": "1", "type": "integer", "tz": "US/Pacific"}',
       '{"units": "degree", "type": "integer", "tz": "US/Pacific"}'],
      dtype=object)

In [11]:
# customer code

In [12]:
def get_cat_fact(url: str = "https://catfact.ninja/fact") -> str:
    '''
    REST API request
    Return a string (cat fact)

    EXAMPLE:

    Typical response:
    {'fact': "A cat's nose is as unique as a human's fingerprint.", 'length': 51}
    Return:
    "A cat's nose is as unique as a human's fingerprint."

    '''
    cat_fact: str  # return value
    response = requests.get(url)
    response_json: dict = response.json()
    cat_fact = response_json.get("fact")
    return cat_fact

In [13]:
get_cat_fact()

"A cat's whiskers are thought to be a kind of radar, which helps a cat gauge the space it intends to walk through."

In [14]:
def get_activity(url: str = "https://www.boredapi.com/api/activity?type=recreational&participants=1") -> str:
    '''
    REST API request
    Return a string (cat fact)

    EXAMPLE:

    Typical response:
    {'fact': "A cat's nose is as unique as a human's fingerprint.", 'length': 51}
    Return:
    "A cat's nose is as unique as a human's fingerprint."

    '''
    activity_info_str: str  # return value
    response = requests.get(url)
    response_json: dict = response.json()
    activity_info = response_json
    activity_info_str = str(response_json)
    return activity_info_str

In [15]:
get_activity()

"{'activity': 'Make your own LEGO creation', 'type': 'recreational', 'participants': 1, 'price': 0, 'link': '', 'key': '1129748', 'accessibility': 0.1}"

In [16]:
dict_test={"def": "something"}
dict_test.get("defd", "xxx")

'xxx'